:root {
    --color01: black;
    --color02: white;
    --color03: #e2c7fd;
    --color04: #62d1dd;
    --color05: #b8b7b7;
    --color06: #14818d;
    --color07: #8235affb;
    --color08: #d36e87fb;
    --color09: rgb(87, 85, 85);
    --color10:#9367c579;
}

body {
    width: 100%;
    background: linear-gradient(90deg, var(--color03), var(--color04));
    /* background-repeat: no-repeat; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.list-card-page {
    background-color: var(--color10);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
}

.list-card-page h1 {
    margin-top: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.exercise-list-page {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.exercise-list-page li {
    margin: 10px 0;
}

.exercise-list-page li a {
    text-transform: uppercase;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;
    margin: 1em 1em;
    font-weight: bold;
    color: var(--color01);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button-size {
    transform: scale(0.7);
    margin-right: 80em;
}

.button {
    position: relative;
    display: inline-block;
    margin: 20px;
}

.button a {
    color: var(--color02);
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    background-color: var(--color06);
    display: block;
    position: relative;
    padding: 15px 20px;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-shadow: 0px 1px 0px var(--color01);
    filter: dropshadow(color=#000, offx=0px, offy=1px);

    -webkit-box-shadow: inset 0 1px 0 var(--color07), 0 10px 0 var(--color04);
    -moz-box-shadow: inset 0 1px 0 var(--color07), 0 10px 0 var(--color04);
    box-shadow: inset 0 1px 0 var(--color07), 0 10px 0 var(--color04);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid var(--color01);
}

.button a:active {
    top: 10px;
    text-shadow: 0px 1px 0px var(--color02);
    background-color: var(--color07);
    color: var(--color01);
    -webkit-box-shadow: inset 0 1px 0 var(--color07), inset 0 -3px 0 var(--color03);
    -moz-box-shadow: inset 0 1px 0 var(--color07), inset 0 -3pxpx 0 var(--color03);
    box-shadow: inset 0 1px 0 var(--color07), inset 0 -3px 0 var(--color03);
}

.button:after {
    content: "";
    height: 100%;
    width: 100%;
    padding: 4px;
    position: absolute;
    bottom: -15px;
    left: -4px;
    z-index: -1;
    background-color: var(--color01);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: var(--color01);
    cursor: pointer;
}

a:hover {
    color: var(--color09);
}

ul {
    list-style: none;
}


form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin: 5em;
}

input {
    padding: 5px;
    width: 100px;
}

input:hover {
    cursor: pointer;
}

.calculate-value,.calculate-value-last{
    height: 50px;
}

.calculate:hover, .calculate-value-last:hover {
    background-color: var(--color05);
}

label {
    padding: 5px;
}

.line {
    display: flex;
    flex-direction: row;
    width: 50em;
    overflow-wrap: break-word;
    transform: scale(0.9);
}

.calculate-value-last {
    clear: both;
    display: block;
    margin-top: 10px; 
}